.fora {
    height: 600px;
    width: 600px;
    background-color: tomato;
    position: relative;
}
.menu {
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: silver;
    right: 50px;
    top: 0;
    display: none;
}
.bolinha {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: yellow;
    position: absolute;
    left: -10px;
    top: -10px;
}